.projects {
  .project-grid {
    figure {
      position: relative;
      overflow: hidden;
      border-radius: 12px;
    }

    figcaption {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      padding: 0rem 3rem;
      color: #fff;
      z-index: 1;
    }
    .title {
      margin-bottom: 1.8rem;
      font-weight: 500;
    }
  }
}

figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.45s ease-in-out;
  transition: 0.45s ease-in-out;
}
figcaption:hover {
  opacity: 1;
  -webkit-transition: 0.45s ease-in-out;
  transition: 0.45s ease-in-out;
}

figure {
  img {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
figure:hover {
  img {
    opacity: 0.3;
  }
}
/*figure {
  img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
figure:hover {
  img {
    -webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
  }
}*/

.project-grid figure figcaption a.button.is-rounded {
  margin: 0 auto;
  font-size: 18px;
  padding: 1.2rem;
  font-weight: 400;
  border-width: 2px;
}

//Media query
@media screen and (min-width: 769px) {
  figcaption {
    padding: 0rem 2rem;
  }
}
